__pycache__/*
.idea/
.mypy_cache/*
*.idx
*.log
*.pyc
*.session
*.sublime*
**/*.py.orig
**/*.pyc
configs/
ews.cfg
ews.cfg_all
ews.cfg_single
ews.ip
ews.uuid
hpfbroker/
json/
log/
logs/
malware.md5
spool/
work/
